openapi: 3.0.4
info:
  title: API - Lista de Precios
  description: API REST para que vendedores consulten precios actualizados de productos y el administrador gestione listas e imágenes.
  version: 1.0.0

servers:
  - url: https://api.purpledistribuidora.com/v1

paths:
  /productos:
    get:
      summary: Obtener todos los productos
      description: Devuelve una lista de productos con nombre, precio, código e imagen.
      parameters:
        - name: nombre
          in: query
          description: Filtrar productos por nombre
          required: false
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Lista de productos
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'
        '401':
          description: API Key inválida o faltante
        '500':
          description: Error interno

  /productos/{codigo}:
    get:
      summary: Obtener producto por código
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Producto encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '401':
          description: API Key inválida o faltante
        '404':
          description: Producto no encontrado

  /admin/listas-precios:
    post:
      summary: Subir nueva lista de precios (solo administrador)
      description: Permite subir una nueva lista de precios de proveedores en formato Excel para ser procesada.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                archivo:
                  type: string
                  format: binary
      security:
        - AdminBearerAuth: []
      responses:
        '201':
          description: Lista de precios cargada exitosamente
        '400':
          description: Formato inválido
        '401':
          description: Token inválido o no autorizado

  /admin/productos/{codigo}/imagen:
    post:
      summary: Cargar imagen de un producto (solo administrador)
      description: Sube una imagen vinculada al código del producto.
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imagen:
                  type: string
                  format: binary
      security:
        - AdminBearerAuth: []
      responses:
        '200':
          description: Imagen cargada correctamente
        '404':
          description: Producto no encontrado
        '401':
          description: Token inválido o no autorizado

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

    AdminBearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Producto:
      type: object
      properties:
        codigo:
          type: string
        nombre:
          type: string
        precio:
          type: number
          format: float
        imagen:
          type: string
          format: uri

security:
  - ApiKeyAuth: []
