openapi: 3.0.4
info:
  title: API - Lista de Precios
  description: API REST para que vendedores consulten productos y precios.
  version: 1.0.0

servers:
  - url: https://api.purpledistribuidora.com/v1

paths:
  /productos:
    get:
      summary: Obtener todos los productos
      description: Devuelve una lista de productos con nombre, precio, código e imagen_url. Se puede aplicar un filtro por nombre.
      parameters:
        - name: nombre
          in: query
          description: Filtrar productos por nombre
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Lista de productos encontrados
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Producto'
        '204':
          description: No se encontraron productos con ese filtro
        '405':
          description: Método no permitido
        '500':
          description: Error interno

  /productos/{codigo}:
    get:
      summary: Obtener producto por código
      parameters:
        - name: codigo
          in: path
          required: true
          description: Código de barras o código interno del producto
          schema:
            type: string
      responses:
        '200':
          description: Producto encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Producto'
        '404':
          description: Producto no encontrado
        '405':
          description: Método no permitido

components:
  schemas:
    Producto:
      type: object
      properties:
        codigo:
          type: string
        nombre:
          type: string
        precio:
          type: number
          format: float
        imagen_url:
          type: string
          format: uri
